@model ChesterDevs.Core.Aspnet.App.Jobs.JobDetail
@{
    ViewData["Title"] = "IT Jobs";
    var sidbarImage = Url.Content("~/images/Groves.png");
}
<header class="hero-image" role="banner" style="background-image: url(@sidbarImage);">

    <partial name="_HamburgerButton" />
    <partial name="_Nav" />
</header>

<main class="container">
    <div class="row">
        <div class="col-12 col-lg-8 single-content-sidebar job-details-page">
            <div class="back-link">
                <a asp-action="Index"><i class="fa fa-chevron-left"></i> Back to jobs </a>
            </div>
            
            @if (Model != null)
            {
        <h1>@Model.Title</h1>

                <div class="row">
                    <div class="col-12 col-sm-9">
                        <div class="list-group">
                            <div class="list-group-item"><i class="fa fa-map-marker fa-fw"></i>&nbsp; @Model.Location</div>
                            <div class="list-group-item"><i class="fa fa-user fa-fw"></i>&nbsp; @Model.JobType</div>
                            <div class="list-group-item"><i class="fa fa-gbp fa-fw"></i>&nbsp; @Model.Salary</div>
                            @if (!string.IsNullOrEmpty(Model.ContactEmail))
                            {
                                <div class="list-group-item dark-links"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a></div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ContactPhone))
                            {
                                <div class="list-group-item"><i class="fa fa-phone fa-fw"></i>&nbsp; @Model.ContactPhone</div>
                            }
                            @if (!string.IsNullOrEmpty(Model.ApplyUrl))
                            {
                                <div class="list-group-item"><a class="btn btn-dark btn-block" target="_blank" href="@Model.ApplyUrl"><i class="fa fa-external-link fa-fw"></i> Apply</a></div>
                            }
                        </div>
                    </div>

                    <div class="col-12 col-sm-3  no-gutter text-center">
                        <img src="@Model.LogoUrl" class="logo">
                    </div>
                </div>
                <p class="pt-2">@Html.Raw(Model.HtmlSafeDetail)</p>
                <p><a class="btn btn-dark btn-block btn-lg" target="_blank" href="@Model.ApplyUrl"><i class="fa fa-external-link fa-fw"></i> Apply</a></p>
                
            }
            else
            {
                <p>Sorry, we couldn't load that job</p>
            }

        </div><!-- main-content/col -->
        <div class="col-12 col-lg-3 ml-auto single-content-sidebar-area">
            <partial name="_SidebarjobSubscribe" />
            <partial name="_SidebarjobHelp" />
        </div>
    </div> <!--/row -->

</main> <!-- /container -->



