@{
    ViewData["Title"] = "Sponsors";
    ViewData["page"] = "sponsors";
}

<main class="container left-container">
    <div class="row">

        <partial name="_Nav" />

        <section class="sidebar col-lg-5 col-12 @ViewData["page"]">

            <partial name="_HamburgerButton" />

            <div class="site-info">
                <div class="primary-info">
                    <h1>Sponsors</h1>
                    <p>To cover costs we rely on financial support from businesses. <a asp-controller="Home" asp-action="Pages" asp-route-view="SponorshipDetail">How to become a sponsor </a></p>
                </div>
                <div class="secondary-info">
                    <partial name="_SidebarSocials"/>
                </div>
            </div>
        </section><!-- end sidebar -->

        <section class="col-lg-7 col-12 ml-auto main-content">


            <div class="author-bio">

                <img src="@Url.Content("~/images/Shortlist-Logo.jpg")">

                <div class="author-bio__info">
                    <h1><a href="http://www.ontheshortlist.co.uk" target="_blank">ShortList Recruitment</a></h1>
                    
                    <p>
                        ShortList Recruitment are the Chester based IT recruitment experts in matching the best and brightest brands with outstanding IT talent.
                    </p>
                    <p>ShortList is one of the leading IT recruitment agencies in the North West who boast a highly skilled team that have hands-on IT experience. They pride themselves on partnering with the best employers in the North West.</p>
                    <p>ShortList know that there is fierce competition in the development market, and that there are pressures and obstacles that face developers when trying to secure their next, or even first role.</p>
                    <p>That’s where ShortList can help. Their team have strong IT domain knowledge and extensive industry contacts which help them to help you. They develop strong working relationships and help find you your perfect role in a fantastic company.</p>

                    <p>ShortList recruit developers for both permanent and contract opportunities.</p>

                    <p><a href="http://www.ontheshortlist.co.uk" target="_blank">www.ontheshortlist.co.uk</a></p>
                </div>
            </div>


            <h2 class="favorites">Other sponsors</h2>

            <div class="posts-block animated fadeIn ">

                <article class="post author-page">
                    <div class="post-preview col-10 col-sm-9  no-gutter">
                        <h2><a href="http://foremansllp.com" target="_blank">Foremans LLP Accountants</a></h2>

                        <p>Specialist Accountants providing accounting and tax advice to Freelancers</p>

                    </div>
                    <div class=" col-3  no-gutter">
                        <img src="@Url.Content("~/images/Foremans_V2_Tidy_logo.png")" class="sponsor-icon" alt="Foremans LLP Accountants Logo">
                    </div>
                </article>

                <article class="post author-page">
                    <div class="post-preview col-10 col-sm-9  no-gutter">
                        <h2><a href="https://www.orbitalgo.com" target="_blank">Orbital Software Solutions</a></h2>

                        <p>
                            A team of IT professionals delivering the very
                            best in systems, consultancy & support.
                        </p>

                    </div>
                    <div class=" col-3  no-gutter">
                        <img src="@Url.Content("~/images/OrbitalWithSurroundCD.png")" class="sponsor-icon" alt="Orbital Software Solutions Logo">
                    </div>
                </article>

                <article class="post author-page">
                    <div class="post-preview col-10 col-sm-9  no-gutter">
                        <h2><a href="https://www.lms.com" target="_blank">Legal Marketing Services</a></h2>

                        <p>
                            Our mission: - To be the most digitally 
                            integrated mortgage industry enabler
                        </p>

                    </div>
                    <div class=" col-3  no-gutter">
                        <img src="@Url.Content("~/images/lms_logo_rgb.png")" class="sponsor-icon" alt="Legal Marketing Services Logo">
                    </div>
                </article>

                <div class="view-all-by-author">
                    <a asp-controller="Home" asp-action="Pages" asp-route-view="SponorshipDetail">How to become a sponsor <i class="fa fa-chevron-right"></i></a>
                </div>


            </div> <!--/posts-block -->
        </section><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->

